*{
    margin: 0;
    padding: 0;
}

body{
    overflow-y: scroll;
    background-color: #e3e6e6;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-one{
    width: 100%;
    height: 7vh;
    background-color: #131921;
    display: flex;
}

.logo{
    width: 10%;
    height: 7vh;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo img{
    width: 70%;
    height: 5vh;
}

.location{
    width: 8%;
    height: 7vh;
}

.location-btn{
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
}

.locaton-btn h5{
    width: 100%;
    font-size: 13px;
}

.location button{
    color: white;
}

.location-btn-logo{
    display: flex;
    color: white;
}

.location-btn-logo i{
    font-size: 20px;
}

.location-btn-logo h5{
    margin-left: 10px;
    font-size: 15px;
    margin-top: 4px;
}

.search{
    width: 55%;
    height: 7vh;
    background-color: rgba(166, 238, 130, 0);
    display: flex;
    flex-direction: row;
}

.search-div{
    height: 5vh;
    width: 100%;
    display: flex;
    padding: 10px;
}

.search-div .all{
    border-radius: 4px 0 0 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all h4{
    font-size: 13px;
    color: rgb(162, 162, 162)
}

.all select{
    width: 2vh;
    margin-left: 4px;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0)
}

.search-div .s-btn{
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    background-color: #f4bd75;
}

.search-div .s-btn:hover{
    background-color: #f3a847;
}

::placeholder{
    font-size: 17px;
}

.search-div button{
    width: 6%;
    border: 0;
}

.search-div button i{
    font-size: 20px;
}

.search-div input{
    width: 86%;
    border: 0;
}

.language{
    width: 5%;
    height: 7vh;
    display: flex;;
}

.language select{
    width: 100%;
    border: 0;
    font-size: 13px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    cursor: pointer;
}


.account{
    width: 10%;
    height: 7vh;
    display: flex;
}

.account .account-btn{
    width: 100%;
    height: 7vh;
    border: 0;
    background-color: rgba(153, 205, 50, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 5px;
    cursor: pointer;
}

.account-btn h6{
    font-size: 11px;
    color: white;
}

.account-dropdown{
    display: flex;
    justify-content: center;
    color: white;
}

.account-dropdown select{
    border: 0;
    background-color: rgba(153, 205, 50, 0);
    color: white;
}


.rd{
    width: 6%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rd a{
    text-decoration: none;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white
}

.rd a span{
    font-size: 15px;
}

.cart{
    width: 6%;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart a{
    display: flex;
    text-decoration: none;
    align-items: center;
    color: white;
}

.cart i{
    font-size: 30px;
}

.cart h6{
    margin-top: 16px;
    font-size: 16px;
}

/*First header end*/

.header-two{
    width: 100%;
    height: 5vh;
    background-color: #232f3e;
    display: flex;
    flex-direction: row;
}

.header-two button{
    height: 5vh;
    border: 0;
    background-color: #00000000;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.hamburger-all{
    width: 5%;
}

.hamburger-all i{
    font-size: 18px;
}

.todays-deals{
    width: 7%;
}

.customer-service{
    width: 8%;
}

.registry{
    width: 5%;
}

.gift-cards{
    width: 6%;
}

.sell{
    width: 5%;
}

.side-menu{
    height: 100vh;
    width: 25%;
    left: -25%;
    background-color: rgb(255, 255, 255);
    top: 0;
    position: fixed;
    transition:left 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    z-index: 1;
}

.side-menu.open {
    left: 0;
}

.side-menu-box-one{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    background-color: #232f3e;
    height: 7vh;
}

.side-menu-box-one .account-img{
    width: 10%;
    height: 5vh;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    margin-left: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-menu-box-one .text{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin-left: 5vh;
}

.side-menu-box-one #side-menu-close-btn{
    background-color: rgba(255, 255, 0, 0);
    color:rgb(241, 241, 241);
    width: 10%;
    height: 5vh;
    font-size: 20px;
    border: 0;
    margin-left: auto;
}

.side-menu-box-two{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgb(254, 254, 254);
    height: 24vh;
    border-bottom: .03px solid grey
}

.box-two-text{
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
}

.box-two-text h4{
    margin-left: 20px
}

.links{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.links .link{
    width: 100%;
    height: 6vh;
}

.links .link:hover{
    background-color: rgb(231, 229, 229);
}

.side-menu-box-two .links .link{
    display: flex;
    align-items: center;
}

.link h4{
    margin-left: 10px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.link i{
    margin-left: auto;
    margin-right: 10px
}

/*main-content*/
.main-content-img{
    width: 100%;
    height: 60vh;
    display: flex;
    overflow: hidden
}

.main-content-img img{
    width: 100%;
}

.main-content-img::before {
    content: "";
    position: absolute;
    top: 13vh;
    left: 0;
    width: 100%;
    height: 60vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.518));
}

.content{
    position: relative;
    width: 100%;
    top: -80px;
    height: auto;
    display: flex;
    flex-direction: column;
}

#main-content-two{
    margin-top: -30px;
}

.main-content{
    width: 100%;
    display: flex;
    height: 60vh;
    justify-content: space-evenly;
    align-items: center;
}

.main-content-box{
    width: 23%;
    height: 53vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}

.main-content-box .text{
    width: 95%;
    height: 5vh;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.main-content-box .text h3{
    font-size: 18px;
    margin-left: 20px;
    color: rgb(0, 0, 0);
}

.main-content-box .buttons{
    width: 95%;
    height: 41vh;
    background-color: rgba(0, 255, 128, 0);
    display: flex;
    flex-direction: column;
}

.gadget-one{
    width: 100%;
    height: 50%;
    display: flex;
}

.gadget{
    width: 50%;
    height: 100%;
    border: 1px solid black transparent transparent;
    display: flex;
    flex-direction: column;    
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000000;                  
}

.gadget img{
    width: 90%;
    height: 90%;
}

.gadget h5{
    font-size: 13px;
    font-weight: 300;
    margin-left: -90px;
}

.button-link{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.button-link img{
    width: 100%;
    height: 100%;
}

.main-content-box .seemore{
    width: 95%;
    height: 4vh;
    background-color: rgba(46, 139, 86, 0);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-content-box .seemore a{
    font-size: 15px;
    margin-left: 20px;
    color:rgb(63, 112, 210);
    text-decoration: none;
}

.main-content-box-exmodel{
    width: 23%;
    height: 53vh;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

.main-content-box-exmodel .signin{
    width: 100%;
    height: 16vh;
    background-color: rgb(255, 255, 255);
}

.signin{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.signin .text{
    width: 90%;
    height: 50%;
    text-align:center;
    display: flex;
    align-items: center;
}


.signin .button{
    width: 100%;
    height: 50%;
    background-color: rgba(150, 194, 62, 0);
    display: flex;
    justify-content: center;
}

.button button{
    width: 80%;
    height: 3.5vh;
    background-color: rgb(248, 207, 46);
    font-size: 14px;
    border-radius: 8px;
    border: 0;
    font-weight: 300;
    cursor: pointer;
}

.main-content-box-exmodel .shipimg{
    width: 100%;
    height: 35vh;
    background-color: rgb(255, 255, 255);
    display: flex;
}

.shipimg img{
    width: 100%;
    height: 100%;
}

/*Main content hor scroll*/
.main-content-hor-scroll{
    width: 100%;
    height: 46vh;
    background-color: #e3e6e6;
    display: flex;
    justify-content: center;
}

.content-scroll{
    width: 97%;
    height: 46vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-scroll .heading{
    width: 98%;
    height: 6vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}

.content-scroll .heading a{
    margin-left: 10px;
    text-decoration: none;
    color:rgb(63, 112, 210);
    font-size: 14px;
    font-weight: 300;
    margin-top: 3px;
}

.img-content{
    width: 100%;
    height: 40vh;
    background-color: #ffffff;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    overflow-y: hidden;
}

.item{
    flex: 0 0 auto;
    width: 33vh;
    height: 40vh;
    background-color: rgb(255, 255, 255);
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-image-box{
    width: 33vh;
    height: 60%;
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item .item-image{
    width: 60%;
    height: 100%;
    background-color: yellow;
}

.item .offer{
    width: 100%;
    height: 12%;
    background-color: rgb(254, 254, 254);
    margin-top: 2px;
    display: flex;
    align-items: center;
}

.offer button{
    width: 30%;
    height: 3vh;
    background-color: rgb(255, 55, 0);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    border: 0;
}

.offer h5{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgb(255, 65, 65);
    margin-left: 5px;
}

.item .price{
    width: 100%;
    height: 8%;
    background-color: rgb(255, 255, 255);
}

.item .price h4{
    font-size: 13px;
    font-weight: 600;
}

.item .desc{
    width: 100%;
    height: 7%;
    background-color: rgb(255, 255, 255);
}

.desc h5{
    font-size: 12px;
    font-weight: 550;
}

/*Footer-signin*/

.footer-signin{
    width: 100%;
    height: 20vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10vh;
}

.inside-div{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 0.2px solid rgb(135, 135, 135);
    border-bottom: 0.2px solid rgb(135, 135, 135);
}

.inside-div h5{
    font-size: 12px;
    font-weight: 500;
}

.inside-div button{
    width: 15%;
    height: 3vh;
    border-radius: 6px;
    border: 0;
    background-color: rgb(254, 228, 59);
    font-size: 12px;
    cursor: pointer;
}

.inside-div h5{
    font-size: 11px;
    font-weight: 500;
}

.inside-div h5 a{
    text-decoration: none;
    color:rgb(26, 101, 162);
}

.footer{
    width: 100%;
    height: auto;
    background-color: #232f3e;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-button{
    width: 100%;
    height: 6vh;
}

.footer-button button{
    width: 100%;
    height: 6vh;
    font-size: 13px;
    font-weight: 600;
    color: white;
    background-color: #374453;
    border: 0;
    cursor: pointer;
}

.footer-button button:hover{
    background-color: #485769;
}

.footer-box{
    display: flex;
    justify-content: space-around;
    width: 65%;
    height: 50vh;
}

.footer-box .box{
    height: 40vh;
    background-color: #232f3e;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
    margin-left:5px;
    margin-top: 20px;
}

.box h4{
    color: white;
    font-size: 14px;
}

.box a{
    text-decoration: none;
    font-size: 13px;
    margin-top: 11px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: white;
}

.box a:hover{
    text-decoration: underline;
}

#box-one{
    width: 13%;
}

#box-two{
    width: 17%;
}

#box-three{
    width:21%;
}

#box-four{
    width:13%;
}

.footer-box-two{
    width: 100%;
    height: 15vh;
    border-top: 0.2px solid rgb(142, 142, 142);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-two-logo{
    width: 6%;
    height: 4vh;
    overflow: hidden;
}

.box-two-logo img{
    width: 100%;
    height: 5vh;
}

.footer-box-two .box-two-buttons{
    display: flex;
    height: 3.5vh;
    margin-left: 40px;
}

.box-two-buttons button{
    width: 15vh;
    height: 3.5vh;
    background-color:rgba(0, 0, 0, 0);
    border: 1px solid rgb(157, 157, 157);
    color: rgb(220, 215, 215);
    margin-left: 4px;
    cursor: pointer;
}

.footer-box-three{
    width: 100%;
    height: 50vh;
    background-color: #131a22;
    display: flex;
    justify-content: center;
}

.row-box{
    width: 65%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: rgba(238, 130, 238, 0);
    margin-top: 40px;
}

.row-box .box{
    width: 12%;
    height: 43vh;
    background-color: rgba(153, 205, 50, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.box .square{
    width: 100%;
    height: 8vh;
    background-color: rgba(35, 154, 140, 0);
    display: flex;
    flex-direction: column;
    align-items: start;
}

.box .square-head{
    font-size: 11px;
}

.box .square-fade{
    font-size: 11px;
    color: rgb(177, 177, 177);
    margin-top: 1px;
}

/*final-footer*/
.final-footer{
    width: 100%;
    height: 12vh;
    background-color: #131a22;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.final-footer .links{
    width: auto;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.final-footer .links a{
    color: white;
    margin-left: 15px;
    font-size: 13px;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.final-footer .links a:hover{
    text-decoration: underline;
}

.final-footer .copyright h5{
    color: white;
    font-size: 12px;
    margin-top:2px;
    font-weight:500;
}
















